<div class="row">
    <div class="col s12 m8 l6">
        <div class="card horizontal small">
            <div class="responsive-image">
                <img height="285" width="285" alt="6.5k-9.3k Monthly Volume visualization" src="/assets/moz keyword analyze abogado volume.png"/>
            </div>

            <div class="card-stacked">
                <div class="card-content">

                    Moz: Abogado (es-US), 6.5k-9.3k Monthly Volume.

                </div>

                <div class="card-action">
                    <!-- TODO: turn pricing on -->
                    <!-- <a class='waves-effect waves-blue btn btn-flat btn-small ilike-blue-container' href='{{ post.url | relative_url }}'>
                         see pricing
                         </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
