---
layout: page
title: About
permalink: /about/
---




.row
  .container
    .col-md-7.col-md-offset-2.col-xs-9.col-xs-offset-1
      .page-header
        %h3 This website is intended to be helpful to:
        %p

          %ul.about-list
            %li Anyone who wants to pass along contact information for a Spanish language interpreter.


.row
  .container
    .col-md-7.col-md-offset-2.col-xs-9.col-xs-offset-1
      %h3
        Email list
      %div
        %p
          %span
            Understand a bit of the technical? See all the code for this contact site on
            %a{:href => "https://github.com/renemarcelo/100-civic-questions-quiz"}
              Github
              %i.fa.fa-github-alt{"aria-hidden" => "true"}.
        %p
          To be informed of updates to this site please feel free to subscribe.

.row
  .col.offset-s7
    %a.waves-effect.waves-light.btn{:href => "//eepurl.com/cECuxT"}
      %i.fa.fa-envelope-o{"aria-hidden" => "true"}
      Keep in Touch





.row
  .container
    .col-md-7.col-md-offset-2.col-xs-9.col-xs-offset-1
      %h3
        Disclaimer

      %p
        We are not the
        %a{:href => "http://www.illinoiscourts.gov/CivilJustice/LanguageAccess/default.asp"} Illinois Courts Language Access Program.
.row
  .container
    .col-md-7.col-md-offset-2.col-xs-9.col-xs-offset-1

      %h3
        Updates pending
      %div
        %p
          An interpreter availability calendar.
