---
layout: page
title: Contact
permalink: /contact/
---

.row
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title Connect!
        %p

          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x{"aria-hidden" => "true"}
            %i.fa.fa-phone.fa-stack-1x{"aria-hidden" => "true"}
          fa-twitter on fa-square-o
          %br/
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x{"aria-hidden" => "true"}
            %i.fa.fa-flag.fa-stack-1x.fa-inverse{"aria-hidden" => "true"}
          fa-flag on fa-circle
          %br/
          %span.fa-stack.fa-lg
            %i.fa.fa-square.fa-stack-2x{"aria-hidden" => "true"}
            %i.fa.fa-terminal.fa-stack-1x.fa-inverse{"aria-hidden" => "true"}
          fa-terminal on fa-square
          %br/
          %span.fa-stack.fa-lg
            %i.fa.fa-camera.fa-stack-1x{"aria-hidden" => "true"}
            %i.fa.fa-ban.fa-stack-2x.text-danger{"aria-hidden" => "true"}
          fa-ban on fa-camera


  .col.s12.m6
    %p
      %address
        %strong Billing Address
        %br/
        %a{:href => "mailto:#"} first.last@example.com

      %strong
        Billing Address



.row
  .col.offset-s7
    %p
      To be informed of updates to this site please feel free to subscribe to the email list.

    %a.waves-effect.waves-light.btn{:href => "//eepurl.com/cECuxT"}
      %i.fa.fa-envelope-o{"aria-hidden" => "true"}
      Keep in Touch
