---
layout: page
title: Contact
permalink: /contact/
---

.row
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title Happy Connecting!
        %p

          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x{"aria-hidden" => "true"}
            %i.fa.fa-phone.fa-stack-1x{"aria-hidden" => "true"}
          (312) 375-8568
          %br/
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x{"aria-hidden" => "true"}
            %i.fa.fa-envelope-o.fa-stack-1x.fa-inverse{"aria-hidden" => "true"}
          %a.white-text{:href => "mailto:#"} info@caselinguist.com
          %br/
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x{"aria-hidden" => "true"}
            %i.fa.fa-twitter.fa-stack-1x.fa-inverse{"aria-hidden" => "true"}
          %a.white-text{:href => "//twitter.com/caselinguist"} @caselinguist
          %br/
          -# %span.fa-stack.fa-lg
          -#   %i.fa.fa-square-o.fa-stack-1x{"aria-hidden" => "true"}
          -#   %i.fa.fa-ban.fa-stack-2x.text-danger{"aria-hidden" => "true"}
          -# fa-ban on fa-camera
          -#
          -#
  .col.s12.m6
    %p
      %strong Billing Address
      %address

        %strong Case Linguist LLC
        %br/
        5829 S. Francisco Ave
        %br/
        Chicago, IL 60629
        %br/
        -# %abbr{:title => "Phone"} P:
        -# (123) 456-7890



.row
  .col.offset-s7
    %p
      To be informed of updates to this site please feel free to subscribe to the email list.

    %a.waves-effect.waves-light.btn{:href => "//eepurl.com/cECuxT"}
      %i.fa.fa-envelope-o{"aria-hidden" => "true"}
      Keep in Touch
