---
layout: default
title: Sitemap
exclude: true
schema:
  title: Sitemap
  description: An HTML Sitemap
---

<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<h2 class="flow-text">Pages by type</h2>

<table>
  <thead>
    <tr>
        <th>Type</th>
        <th>Page</th>
    </tr>
  </thead>

  <tbody>

    {% for post in site.posts reversed  %}
      {% unless post.published == false %}
      <tr>
        <td>Blog Post</td>
        <td><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></td>
      </tr>
      {% endunless %}
    {% endfor %}

  {% for page in site.pages %}
    {% unless page.sitemap.exclude == "yes" or page.url == "/assets/main.css" %}
    <tr>
      <td>Webpage</td>
      <td><a href="{{ site.url }}{{ page.url }}">{{ page.url}}</a></td>
    </tr>

    {% endunless %}
    {% endfor %}
  </tbody>
</table>
