<script type='application/ld+json'>
  {
    "@context": "http://www.schema.org"
    ,"@type": "LocalBusiness"
    ,"name":"CASE LINGUIST LLC"
    ,"logo":"https://marketingforlawyers.org/assets/images/logo.webp"
    ,"url":"https://marketingforlawyers.org/"
    ,"openingHours":" Mo 9:00 am-5:00 pm Tu 9:00 am-5:00 pm We 9:00 am-5:00 pm Fr 9:00 am-5:00 pm"
    ,"address":
    {
      "@type": "PostalAddress"
      ,"addressLocality":"Chicago"
      ,"addressRegion":"IL"
      ,"postalCode":"60614"
    }
    ,"contactPoint":
    {
      "@type":"ContactPoint"
      ,"email":"rene@marketingforlawyers.org"
      ,"telephone":"‪+1 872 216 9825‬"
      ,"contactType": "customer service"
    }
    ,"memberOf":
    {
      "@type":"Organization"
      ,"name":" Midwest Association of Translators & Interpreters"
    }
    ,"image": "https://dev.marketingforlawyers.org/assets/images/rene-m-paccha-chi.jpg"
  }
</script>
