.page-footer.final-footer.z-depth-1
  .footer-copyright
    .copyright-container.container
      %span.hide-on-small-only.show-on-medium-and-up
        © 2019 Case Linguist LLC
      %a.grey-text.text-lighten-4{:href => "{{ \"/sitemap.html\" | relative_url }}"}
        %span Visual Site Map
      %span.show-on-small.hide-on-med-and-up.right
        © 2019 Case Linguist LLC
      %a.grey-text.text-lighten-4.right{:href => "mailto:rene@marketingforlawyers.org"}
        %span E-mail:
        %span rene@marketingforlawyers.org
