<script async src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/highcharts.js" integrity="sha256-xMDeombsoo/Gy2p6UAwTnuelns6zCc8OwQZP0m9DHnU=" crossorigin="anonymous"></script>
<!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/modules/series-label.js" integrity="sha256-bb88bBe7++ak//EAk3yeWSFGJ2cIhy8zRWt7+ilPgYk=" crossorigin="anonymous"></script> -->
<!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/modules/exporting.js" integrity="sha256-8l/KJXWPeepET7RLMItgQW770/Ho4Bp/jtA1k8nxFKY=" crossorigin="anonymous"></script> -->
