---
title: "Not all clients type English in search"
layout: post
lang: en
categories: Law-Firm-SEO Immigration
tags: Law Technology
author: Rene M. Paccha
chart: true
---



<p>SEO considerations must be made for Criminal and Immigration court bound clients that speak a foreign language. Searches happen in Spanish, too.</p>

<h2>Landscape of search</h2>

<p>Amount of foreign born population in the United States in 2016 according to <a href="https://www.pewhispanic.org/2018/09/14/facts-on-u-s-immigrants/">PEW Hispanic</a>.</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/highcharts.js" integrity="sha256-xMDeombsoo/Gy2p6UAwTnuelns6zCc8OwQZP0m9DHnU=" crossorigin="anonymous"></script>

{% include charts/pew-population-chart.html %}

<h2>Spanish Speaking Client Searches</h2>

<h3>Why considering the spanish speaking population in SEO may be important</h3>

<ul>
<li>The Spanish-speaking reside here.</li>
</ul>

{% include pricecards/moz-abogado.html %}

<h3>Keywords and Spanish-speaking searchers</h3>

<p><strong>Google Trends Vizualization for spanish words (Illinois)</strong> show searches for abogados and another term which historically, outside of search, has led to <a href="https://aila.org/advo-media/tools/psas/psa-on-cir-and-notarios-04-29-13">the use of "unauthorized consultants."</a> For example, <a href="https://aila.org/practice/consumer-protection/stop-notario-fraud">notario, is not a lawyer</a>.</p>

{% include charts/abogado-trends.html %}

<h3>Other SEO-related considerations</h3>

<ul>
<li>Top results may lead to overseas results and even advice.</li>
<li>Confusion over the correct translation among searches (that which is meaningful, beyond literal) is an unaddressed barrier to legal services</li>
</ul>

<p>-R</p>
