---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:'Cabin', sans-serif;

$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 1.475;
$base-line-height: 1.5;

$spacing-unit:     25px;

$text-color:       #111;
$link-color: color("light-blue", "darken-4") !default;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1175px;
$on-palm:          600px;
$on-laptop:        800px;

.site-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 3px;

}

.at-aware, .heading-jumbo, .footer-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, p, li, span {
  letter-spacing: .805px;
}

#pew-hispanic-container {
  min-width: 310px;
  // max-width: 800px;
  height: 400px;
  margin: auto auto;
}

#pinned-reading {
  border: 1px solid #D5D5D5;
}
@import "minima";
@import 'materialize';

.page-heading {
  margin-left: -5px;
}

.collection.with-header .collection-item {
  margin-left: 18px;
}

.blog-collection-item {
    margin-left: -30px;
}
.ilike-amber-container:hover {
  @extend .amber, .lighten-1;
}

.ilike-blue-container:hover {

  @extend .light-blue, .darken-4;
  color: white;
  text-decoration: none
}


a:visited, a:hover {
  color: #002355;
}


.page-footer {
  padding-top: 0px;
  color: #fff;
  background-color: #1565C0;
}

.site-header {
  // border-top: 5px solid #5fa0a1;
  border-bottom: none;
}

// CSS splash-section addition
.heading-jumbo {
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.paragraph-light {
  opacity: 0.6;
}

.name-text {

  font-size: 20px;
  line-height: 34px;
  font-weight: 300;

}

.intro-wrap {
  // font-family: 'Assistant', sans-serif;
  margin-top: 80px;
  margin-bottom: 140px;
}

.msg-container {
  width: 100%;
  max-width: 1145px;
  margin-right: auto;
  margin-left: auto;
}

.spash-section {
  margin-right: 30px;
  margin-left: 30px;
}

.collection-content-starts {
    line-height: 20px;
    padding: 24px;
    margin: auto 5px;
    /* text-align: left; */
}

@media (max-width: 991px) {
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }
}

@media (max-width: 767px) {

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .msg-container {
    text-align: center;
  }


  .spash-section {

    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 479px) {
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }
}
