<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  <div class="container">
    {% include footer.html %}
  </div>


  <script>
  var button = document.querySelector('#submit-button');
  var tokenizationKey = 'sandbox_t8qqbp4r_k4g8wqgx66xht83b'

  braintree.dropin.create({
    authorization: tokenizationKey,
    container: '#dropin-container',
    paypal: {
      flow: 'checkout',
      amount: '495.00',
      currency: 'USD'
    }
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
        // Submit payload.nonce to your server
      });
    });
  });
  </script>



  <script>
  var button = document.querySelector('#submit-button-test');
  var tokenizationKey = 'sandbox_t8qqbp4r_k4g8wqgx66xht83b'

  braintree.dropin.create({
    authorization: tokenizationKey,
    container: '#dropin-container-test',
    paypal: {
      flow: 'checkout',
      amount: '1.00',
      currency: 'USD'
    }
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
        // Submit payload.nonce to your server
      });
    });
  });
  </script>
</body>
</html>
