---
layout: default
excerpt_separator: <!--more-->
---

<div class='home home-section section'>
  <div class="logo-wrap valign-wrapper">
    <div class="row">
    <span class="center-align"><img  src="assets/logo.png" width="350" alt="logo"></span>
    </div>
  </div>


  <!-- adding splash message -->
  <div id="slide" class="splash-section">
    <div class="msg-container">
      <div class="intro-wrap">
        <div class="name-text">Rene M. Paccha</div>
        <div class="paragraph-light">SEO, Case Linguist LLC</div>
        <h1 class="heading-jumbo">Case Linguist LLC provides internet marketing services for English and Spanish speaking audiences. We offer comprehensive packages and a la carte services that can be catered to your needs.</h1>
      </div>
    </div>
  </div>


  <div class='row'>
    <div class='col s12 m4 l5'>
      <!-- <h2 class='page-heading strong-blog-font'>
        Pinned Post
      </h2> -->
      {{ content }}
      <ul class='post-list'>
        {% for post in site.posts limit:1 offset:1 %}
        <li>
          <span class='post-meta strong-blog-font'>
            {% unless post.pinned %}
            {{ post.date | date: "%b %-d, %Y" }}
            {% endunless %}
          </span>
          <h2>
            <a class='post-link strong-blog-font' href='{{ post.url | relative_url }}'>{{ post.title | escape }}</a>
          </h2>
          <span class='blog-font'>{{ post.excerpt }}</span>
        </li>
        <p class='align-right'>
          <a class='waves-effect waves-blue btn btn-flat btn-small ilike-blue-container' href='{{ post.url | relative_url }}'>
            Keep Reading...
          </a>
        </p>
        {% endfor %}
      </ul>


    </div>
    <div class='col s12 m8 l7'>
      {% include card-screenshot.html %}
    </div>
</div>


<div class="section">
  <br/>

  <div class="col s12 m6">
    <div class="card-panel">
      <div class="row v-align-wrapper">
        <div class="col s12 m6">
          <!-- image -->
          <img class="materialboxed center-align responsive-img " width="650" src="{{ '/assets/rene-m-paccha-chicago-250.png' | relative_url }}" srcset="{{ '/assets/rene-m-paccha-chicago-500.png' | relative_url }} 500w, {{ '/assets/rene-m-paccha-chicago.png' | relative_url }} 1000w" alt="rene m paccha professional headshot with willis tower background">
        </div>
        <div class="posts-list">
          <div class="col s12 m6">

            <br />
            <h3 class='page-heading strong-blog-font'>
              Posts
            </h3>

            {% for post in site.posts limit:1  %}
            {% assign currentdate = post.date | date: "%Y %B" %}
            {% if currentdate != date %}
            {% unless forloop.first %}</ul>{% endunless %}
            <span id="y{{post.date | date: "%Y %B"}}">{{currentdate}}</span>
            <ul class="collection with-header">
              {% assign date = currentdate %}
              {% endif %}
              <li>

                <a href="{{ post.url }}">
                <div class="collection-item">
                  <span class="badge  btn btn-small btn-flat waves-effect waves-blue ilike-blue-container ">{{ post.date | date:"%m/%d" }}</span>
                      {{ post.title }}
                </div>

              </a>

            </li>
              {% if forloop.last %}</ul>{% endif %}
              {% endfor %}

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include photo-pop.html %}
