---
layout: default
excerpt_separator: <!--more-->
---

<div class='home home-section section'>
  <div class="logo-wrap valign-wrapper">
    <div class="row">
      <span class="center-align"><img  src="assets/logo.png" width="350" alt="logo"></span>
    </div>
  </div>


  <!-- adding splash message -->
  <!-- ok -->
  <div id="slide" class="splash-section">
    <div class="msg-container">
      <div class="intro-wrap">
        <div class="name-text">Rene M. Paccha</div>
        <div class="paragraph-light">SEO, Case Linguist LLC</div>
        <h1 class="heading-jumbo">Case Linguist LLC provides internet marketing services for English and Spanish speaking audiences. We offer comprehensive packages and a la carte services that can be catered to your needs.</h1>
      </div>
    </div>
  </div>


  <!-- Pinned Post -->
  <!-- ok -->
  <div class='row'>
    <div class='featured post'>
      <div class=""><h4>Featured Post</h4></div>

      {{ content }}
      <ul class='post-list'>
        {% for post in site.posts limit:1 offset:1 %}
        <li>
          <span class='post-meta strong-blog-font'>
            {% unless post.pinned %}
            {{ post.date | date: "%B %e, %Y" }}
            {% endunless %}
          </span>
          <h2>
            <a class='post-link strong-blog-font' href='{{ post.url | relative_url }}'>{{ post.title | escape }}</a>
          </h2>
          <span class='blog-font'>{{ post.excerpt }}</span>
        </li>
        <p class='align-right'>
          <a class='waves-effect waves-blue btn btn-flat btn-small ilike-blue-container' href='{{ post.url | relative_url }}'>
            Keep Reading...
          </a>
        </p>
        {% endfor %}
      </ul>
    </div>



    <div class='col s12 m8 l7 hide-on-small-only'>
      <!-- hiding on small screen -->
      {% include card-screenshot.html %}
    </div>
  </div>




  <div class='row'>
    <div class='col s12 m4 l5'>

    </div>
  </div>

  <div class="section">
    <br/>

    <div class="col s12 m6 l3">
      <div class="row v-align-wrapper">

        <div class="posts-list">
          <div class="col s12 m6 secondary-container">

            <!-- <br /> -->

            <ul class="collection with-header">
              <!-- set post limit -->
              <li class="collection-header">
                <h4 class='page-heading '>
                  Blog
                </h4>
              </li>

              {% for post in site.posts limit:9 %}

              {% assign currentdate = post.date | date: "%b %e - %a" %}
              {% if currentdate != date %}
              <!-- {% unless forloop.first %}</ul>{% endunless %} -->


              {% assign date = currentdate %}


              {% endif %}
              <li class="collection-item">

                <a href="{{ post.url }}">
                  <!-- {% if forloop.first %}<span class="new badge"></span></a>{% endif %}                                       -->
                  <div class="collection-content-starts">{{ post.title }}
                    <!-- secondary date content -->

                    <span class="badge btn btn-small btn-flat waves-effect waves-blue ilike-blue-container">
                      <div class="hide-on-small-only">
                        <span id='y_{{post.date | date: "%Y_%B"}}' class="shifty-date date-sub-display">{{currentdate}}</span>
                      </div>
                    </span>
                  </div>

                  <!-- for small devices -->
                  <div class="show-on-small hide-on-med-and-up">
                    <span id='y_{{post.date | date: "%Y_%B"}}' class="grey-text shifty-date date-sub-display">{{currentdate}}</span>
                  </div>

                </a>
              </li>
              {% if forloop.last %}</ul>{% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- headshot section -->
  <div class="divider"></div>
  <div class="section">

      <a href="{{ '/about' | relative_url }}"><h4 class="flow-text">Based in Chicago, IL</h4></a>
    <!-- image start -->
    <div class="col s12 m6">

      <!-- image -->
      <img class="needs-to-be-own-thing materialboxed center-align responsive-img " width="650" src="{{ '/assets/rene-m-paccha-chicago-250.png' | relative_url }}" srcset="{{ '/assets/rene-m-paccha-chicago-500.png' | relative_url }} 500w, {{ '/assets/rene-m-paccha-chicago.png' | relative_url }} 1000w" alt="rene m paccha professional headshot with willis tower background">
    </div>
  </div>


  {% include photo-pop.html %}
