---
layout: default
---
{% include card-screenshot.html %}


<div class="row">
<div class="col offset-s7">


    <a href="//eepurl.com/cECuxT" class="waves-effect waves-light btn"><i class="fa fa-envelope-o" aria-hidden="true"></i> Keep in Touch</a>
</div>

</div>




<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div> -->
