---
layout: default
---

<article class='testimonial'>
  <header class='testimonial-header'>
    <h1 class='testimonial-title strong-blog-font'>{{ page.title | escape }}</h1>
    <p class='testimonial-meta strong-blog-font'>
      <time datetime='{{ page.date | date_to_xmlschema }}'></time>
      {{ page.date | date: '%b %-d, %Y' }}
      {% if page.author %}
      <span></span>
      {% endif %}
    </p>
  </header>
  <div class='testimonial-content blog-font'>
    <blockquote>
      {{ content }}
    </blockquote>
  </div>
  {% if page.my_client %}
  <div class='chip right'>
    -
    <em>{{page.my_client}}</em>
  </div>
  {% endif %}
</article>
